* 
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: yellow;
	font-size: 20px;
}


#header
{
	background-color: black;
	display: block;
	height: 100px;
	width: 100%;
}


#main
{
    height: calc(100vh-100px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


#menu
{
	width: 200px;
	max-width: 15%;
	order: 1;
	background-color: green;
}

#menu ul li
{
	list-style: none;
}


#content
{
	order: 2;
	width: 100%;
	background-color: indianred;
}

input, select
{
	font-size: 15px;
}

input[type=checkbox]
{
	transform: scale(1.5);
	width: 1.5vw;
}


#data-table, #data-element
{
	display: grid;
	grid-template-columns: min-content auto;
	grid-row-gap: 5px;
	grid-column-gap: 20px;
	margin: 15px;
}


.twoCols
{
	grid-column-start: 1;
	grid-column-end: 3;
}

.objectButtons
{
	display: grid;
	grid-template-columns: min-content min-content;
	grid-column-gap: 1vw;
	justify-items: left;
	justify-self: left;
	justify-content: start;
}

.doNotStretch
{
	justify-self: left;
}

#data-element label
{
	white-space: nowrap;
}

#error-label
{
	color: red;
}

.editButton
{
	background-image: url("img/editIcon.svg");
	max-width: 100%;
	max-height: 100%;
	width: 30px;
	height: 30px;
	clear: both;
	background-size: 30px 100%;
	background-position: left center;
	background-repeat: no-repeat;
}

.deleteButton
{
	background-image: url("img/deleteIcon.svg");
	max-width: 100%;
	max-height: 100%;
	width: 30px;
	height: 30px;
	clear: both;
	background-size: 30px 100%;
	background-position: left center;
	background-repeat: no-repeat;	
}


.uploadFileButton
{
	border: 0;
	background-image: url("img/uploadFile.svg");
	max-width: 100%;
	max-height: 100%;
	width: 1.5em;
	height: 1.5em;
	clear: both;
	background-size: 1.5em 100%;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: indianred;
}


.deleteFileButton
{
	border: 0;
	background-image: url("img/deleteFile.svg");
	max-width: 100%;
	max-height: 100%;
	width: 1.5em;
	height: 1.5em;
	clear: both;
	background-size: 1.5em 100%;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: indianred;
}


#attributes-label
{
	display: inline-block;
	vertical-align: top;
}

.file
{
	cursor:pointer;
	color:blue;
	text-decoration:underline
}

.file:hover {
	text-decoration:none;
	text-shadow: 1px 1px 1px #555;
}

.multiselect 
{
	display: inline-block;
	background-color: indigo;
	background: indigo;
}

.selectBox 
{
	position: relative;
}

.selectBox select 
{
	width: 100%;
	font-weight: bold;
}

.overSelect 
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes-attributes
{
	display: grid;
	grid-template-columns: min-content;
	justify-items: left;
	justify-self: left;
	justify-content: start;
}

.checkboxes
{
	display: none;
	border: 1px #dadada solid;
}

.checkboxes label:hover
{
	background-color: #1e90ff;
}
