* 
{
	margin: 0;
	padding: 0;
}

#body
{
	background-color: yellow;;
}




#header
{
	background-color: black;
	display: block;
	height: 100px;
	width: 100%;
}


#main
{
    height: calc(100vh-100px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


#menu
{
	width: 200px;
	order: 1;
	background-color: green;
}

#menu ul li
{
	list-style: none;
}




#content
{
	order: 2;
	width: 100%;
	background-color: indianred;
}



label
{
	display: block;
}

#error-label
{
	color: red;
}

.editButton
{
	background-image: url("img/editIcon.svg");
	max-width: 100%;
	max-height: 100%;
	width: 30px;
	height: 30px;
	clear: both;
	background-size: 30px 100%;
	background-position: left center;
	background-repeat: no-repeat;
}

.deleteButton
{
	background-image: url("img/deleteIcon.svg");
	max-width: 100%;
	max-height: 100%;
	width: 30px;
	height: 30px;
	clear: both;
	background-size: 30px 100%;
	background-position: left center;
	background-repeat: no-repeat;	
}

#attributes-label
{
	display: inline-block;
	vertical-align: top;
}

.multiselect 
{
	display: inline-block;
	background-color: indigo;
	background: indigo;
}

.selectBox 
{
	position: relative;
}

.selectBox select 
{
	width: 100%;
	font-weight: bold;
}

.overSelect 
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.checkboxes
{
	display: none;
	border: 1px #dadada solid;
}

.checkboxes label:hover
{
	background-color: #1e90ff;
}